@font-face {
  font-family: "Mazzard";
  src: url("../../../assets/fonts/Mazzard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: "Mazzard", sans-serif;
}